.mainsection{
    /* background-color: blue; */
     padding-top: 10px;
      position: relative;
       z-index: 23;
        top: 34px;
         display: flex;
         flex-wrap: wrap;
}
.infinite-scroll{
     display: flex;
      flex-wrap: wrap;
}